<div class="inner">
	<a href="http:&#x2F;&#x2F;at.local&#x2F;" class="icon logo-at">
		<div class="hidden">Auckland Transport</div>
	</a>
	<a href="#" class="menu-container hidden-desktop" ng-click="toggleMenu()">
		<span class="icon icon-menu"></span>
		<span>MENU</span>
	</a>



	<!--<div ng-click="toggleMenu()">
			test click menu
		</div>

		<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
			Hello World
		</div>-->

	<!--<a tabindex="1" href="#main_content" title="Skip to Main Content" class="skip_nav">Skip to Main Content</a>
	-->
	<nav id="top-nav" class="visible-desktop">
		<ul>
					<li>
						<a href="http:&#x2F;&#x2F;at.local&#x2F;bus-train-ferry">
							<span class="icon-container">
								<div class="icon icon-bus"></div>
								<div class="icon icon-train"></div>
								<div class="icon icon-ferry"></div>
							</span>
							<span class="title">Bus Train Ferry</span>
						</a>
					</li>
					<li>
						<a href="http:&#x2F;&#x2F;at.local&#x2F;cycling-walking">
							<span class="icon-container">
								<div class="icon icon-bike"></div>
								<div class="icon icon-walk"></div>
							</span>
							<span class="title">Cycling &amp; Walking</span>
						</a>
					</li>
					<li>
						<a href="http:&#x2F;&#x2F;at.local&#x2F;driving-parking">
							<span class="icon-container">
								<div class="icon icon-car"></div>
								<div class="icon icon-park"></div>
							</span>
							<span class="title">Driving &amp; Parking</span>
						</a>
					</li>
					<li>
						<a href="http:&#x2F;&#x2F;at.local&#x2F;projects-roadworks">
							<span class="icon-container">
								<div class="icon icon-tools"></div>
							</span>
							<span class="title">Projects &amp; Roadworks</span>
						</a>
					</li>
					<li>
						<a href="http:&#x2F;&#x2F;at.local&#x2F;myat&#x2F;">
							<span class="icon-container">
								<div class="icon icon-about"></div>
							</span>
							<span class="title">About us</span>
						</a>
					</li>
		</ul>
	</nav>
</div>
