<footer class="header-and-footer">
	<div class="inner">
		<ul class="links-container">
			<li>
				<a href="{{baseUrl}}" class="icon logo-auckland-transport">
					<div class="hidden">{{ title }}</div>
				</a>
			</li>
			<li>
				<ul>
					<li>
						<a href="{{baseUrl}}{{ links.contactUs.url}}">{{ links.contactUs.title}}</a>
						<span class="footer-divide"></span>
					</li>
					<li>
						<a href="{{baseUrl}}{{ links.careers.url}}">{{ links.careers.title}}</a>
						<span class="footer-divide"></span>
					</li>
					<li>
						<a href="{{ links.twitter.url}}" target="_blank" class="icon logo-twitter">
							<div class="hidden">{{ links.twitter.title}}</div>
						</a>
						<span class="footer-divide"></span>
					</li>
					<li>
						<a href="{{ links.youtube.url}}" target="_blank" class="icon logo-youtube">
							<div class="hidden">{{ links.youtube.title}}</div>
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<nav>
			<ul class="links-container">
				<li>
					<ul>
						{{#nav}}
						<li>
							<a href="{{baseUrl}}{{url}}">{{title}}</a>
							<span class="footer-divide"></span>
						</li>
						{{/nav}}
					</ul>
				</li>
				<li>
					<a href="{{baseUrl}}{{ links.copyright.url}}">{{ links.copyright.title}}</a>
					<span>&#169; {{year}} Auckland Transport.</span>
				</li>
				<li class="icon-container">
					<a href="{{ links.govtNz.url}}" target="_blank" class="icon logo-newzealand">
						<div class="hidden">{{ links.govtNz.title}}</div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>

