<div class="inner">
	<a href="{{baseUrl}}" class="icon logo-at">
		<div class="hidden">{{ title }}</div>
	</a>
	{{#angular}}
	<a href="#" class="menu-container hidden-desktop" ng-click="toggleMenu()">
		<span class="icon icon-menu"></span>
		<span>MENU</span>
	</a>
	{{/angular}}
	{{^angular}}
	<a href="#" class="menu-container hidden-desktop">
		<span class="icon icon-menu"></span>
		<span>MENU</span>
	</a>
	{{/angular}}



	<!--<div ng-click="toggleMenu()">
			test click menu
		</div>

		<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
			Hello World
		</div>-->

	<!--<a tabindex="1" href="#main_content" title="Skip to Main Content" class="skip_nav">Skip to Main Content</a>
	-->
	<nav id="top-nav" class="visible-desktop">
		<ul>
			{{#nav}}
				{{#topNav}}
					<li>
						<a href="{{baseUrl}}{{url}}">
							<span class="icon-container">
								{{#icons}}
								<div class="icon icon-{{.}}"></div>
								{{/icons}}
							</span>
							<span class="title">{{title}}</span>
						</a>
					</li>
				{{/topNav}}
			{{/nav}}
		</ul>
	</nav>
</div>
