@import "../variables";
@import "../../img/sprites/scss/sprite";

//MOVE TO MIXINS FILE
//Use this mixin instread of font-wight: bold;
@mixin bold() {
	font-weight: normal;
	font-family: $strong-font-family;
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

.header-and-footer {
	background-color: $nav-background-color;
	color: $base-body-color;

	// /http://getbootstrap.com/2.3.2/scaffolding.html#responsive
	.visible-phone {
		display: block;
	}
	.visible-tablet {
		display: none;
	}
	.visible-desktop {
		display: none;
	}
	.hidden-phone {
		display: none;
	}
	.hidden-tablet {
		display: block;
	}
	.hidden-desktop {
		display: block;
	}

	a {
		text-decoration: none;
		color: white;
		&:hover, &:focus {
			outline: 0;
		}
	}
	ul {
		list-style-type: none;
	}
	.hidden {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
	//Icons
	.icon {
		@include icon();
	}

	.icon:before {
		@include iconBefore();
	}

	.no-svg .icon:before {
		@include no-svg-icon();
	}

	.icon:after {
		@include iconBefore();
	}

	.no-svg .icon:after {
		@include no-svg-icon();
	}
}

// 480 PX =============================================================================
@media only screen and (min-width: 480px) {

}

// 800 PX =============================================================================
@media only screen and (min-width: 768px) {
	.header-and-footer {
		// /http://getbootstrap.com/2.3.2/scaffolding.html#responsive
		.visible-phone {
			display: none;
		}
		.visible-tablet {
			display: block;
		}
		.visible-desktop {
			display: none;
		}
		.hidden-phone {
			display: block;
		}
		.hidden-tablet {
			display: none;
		}
		.hidden-desktop {
			display: block;
		}
	}
}

// 900 PX =============================================================================
@media only screen and (min-width: 900px) {
	.header-and-footer {
		// /http://getbootstrap.com/2.3.2/scaffolding.html#responsive
		.visible-phone {
			display: none;
		}
		.visible-tablet {
			display: none;
		}
		.visible-desktop {
			display: block;
		}
		.hidden-phone {
			display: block;
		}
		.hidden-tablet {
			display: block;
		}
		.hidden-desktop {
			display: none;
		}
	}
}

// 1200 PX =============================================================================
@media only screen and (min-width: 1200px) {

}