@import "../variables";
@import "../../img/sprites/scss/sprite";
@import "common";

//MOVE TO MIXINS FILE
//Use this mixin instread of font-wight: bold;
@mixin bold() {
	font-weight: normal;
	font-family: $strong-font-family;
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}


footer {
	font-family: $base-font-family;
	overflow: hidden;
	@include font-size(1.3);

	.inner {
		padding: 28px 0 0 0;
	}
	a {
		color: $base-body-color;
		&:hover, &:focus {
			color: $base-link-color-dark-background;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	nav {
		overflow: hidden;
		a {
			color: $base-link-color-dark-background;
			&:hover, &:focus {
				color: $hightlights-color-light-background;
			}
		}
	}

	.footer-divide {
		width: 1px;
		height: 10px;
		background-color: $base-devide;
		display: inline-block;
		position: relative;
		top: 3px;
	}

	.logo-newzealand {
		&:before {
			@include logo-newzealand-white();
		}
		&:focus:before {
			@include logo-newzealand-blue();
		}
	}

	.logo-twitter {
		&:before {
			@include logo-twitter-blue();
		}
		&:focus:before {
			@include logo-twitter-white();
		}
	}

	.logo-auckland-transport {
		&:before {
			@include logo-auckland-transport-white();
		}
		&:focus:before {
			@include logo-auckland-transport-blue();
		}
	}

	.logo-newzealand {
		&:before {
			@include logo-newzealand-white();
		}
		&:focus:before {
			@include logo-newzealand-blue();
		}
	}

	.logo-youtube {
		&:before {
			@include logo-youtube-white();
		}
		&:focus:before {
			@include logo-youtube-red();
		}
	}

	//
	ul.links-container {
		max-width: 649px;
		width: 100%;
		margin: 0 auto 25px auto;
		text-align: center;
		overflow: hidden;

		li {
			display: block;
			vertical-align: bottom;
			a {
				padding: 0 9px;
				&.logo-twitter {
					padding: 0 5px;
				}
				&.logo-newzealand {
					padding: 24px 10px 35px 10px;
					display: block;
				}
			}
		}
		ul {
			margin-bottom: 8px;
		}
	}

	nav {
		ul.links-container {
			li {
				vertical-align: top;
			}
		}
	}
}

// 480 PX =============================================================================
@media only screen and (min-width: 480px) {
	footer {
	}
}

// 800 PX =============================================================================
@media only screen and (min-width: 768px) {
	footer {
		ul.links-container {
			li {
				display: inline-block;
			}
		}
		nav {
			> ul.links-container {
				> li {
					display: block;
				}
			}
		}
	}
}

// 900 PX =============================================================================
@media only screen and (min-width: 900px) {
	footer {
		ul.links-container {
			max-width: 900px;
		}
		nav {
			> ul.links-container {
				> li {
					display: inline-block;
					.logo-newzealand {
						padding: 0 9px;
						display: inline-block;
					}
				}
			}
		}
	}
}

// 1200 PX =============================================================================
@media only screen and (min-width: 1200px) {
	footer {
		ul.links-container {
			max-width: none;
			width: auto;
			display: inline-block;
		}
		nav {
			display: inline-block;
		}
	}
}