@import "../variables";
@import "../../img/sprites/scss/sprite";
@import "common";

//MOVE TO MIXINS FILE
//Use this mixin instread of font-wight: bold;
@mixin bold() {
	font-weight: normal;
	font-family: $strong-font-family;
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

header {
	.inner {
		padding: 7px;
	}
	a {
		font-family: $header-font-family;
		vertical-align: top;
		@include font-size(1.6);
		//TODO: use bourbon plugin
		-webkit-transition: color 0.5s;
		-moz-transition:    color 0.5s;
		-o-transition:      color 0.5s;
	}

	nav {
		display: inline-block;
		padding: 4px 10px 0 22px;
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			vertical-align: top;
			a {
				display: inline-block;
				padding: 0 20px 0 0;
			}
			.title {
				display: block;
			}
		}
	}

	.icon-container {
		height: 25px;
		display: block;
	}

	.icon {
		position: relative;
		display: inline-block;
		&:before {
			//TODO: use bourbon plugin
			-webkit-transition: opacity 0.5s;
			-moz-transition:    opacity 0.5s;
			-o-transition:      opacity 0.5s;
		}
		&:after {
			-webkit-transition: opacity 0.5s;
			-moz-transition:    opacity 0.5s;
			-o-transition:      opacity 0.5s;
			@include iconBefore();
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.menu-container {
		display: block;
		float: right;
		width: 30px;
		text-align: center;
		padding: 4px 0px;
		.icon {
			padding: 0 0 3px 0;
		}
		span {
			display: block;
			@include font-size(0.7);
		}
	}

	.icon-menu {
		&:before {
			@include icon-menu-white();
		}
	}

	.logo-at {
		&:before {
			@include logo-at-mobile();
		}
	}

	.icon-bus {
		@include iconBefore();
		@include icon-bus-white();
		opacity: 1;
		&:before {
			@include icon-bus-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-bus-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-train {
		@include iconBefore();
		@include icon-train-white();
		opacity: 1;
		&:before {
			@include icon-train-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-train-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-ferry {
		@include iconBefore();
		@include icon-ferry-white();
		opacity: 1;
		&:before {
			@include icon-ferry-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-ferry-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-bike {
		@include iconBefore();
		@include icon-bike-white();
		opacity: 1;
		&:before {
			@include icon-bike-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-bike-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-walk {
		@include iconBefore();
		@include icon-walk-white();
		opacity: 1;
		&:before {
			@include icon-walk-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-walk-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-car {
		@include iconBefore();
		@include icon-car-white();
		opacity: 1;
		&:before {
			@include icon-car-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-car-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	.icon-park {
		@include iconBefore();
		@include icon-park-white();
		opacity: 1;
		&:before {
			@include icon-park-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-park-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}
	.icon-tools {
		@include iconBefore();
		@include icon-tools-white();
		opacity: 1;
		&:before {
			@include icon-tools-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-tools-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}
	.icon-about {
		@include iconBefore();
		@include icon-about-white();
		opacity: 1;
		&:before {
			@include icon-about-blue();
			background-color: $nav-background-color;
			opacity: 0;
		}
		&:after {
			@include icon-about-grey();
			background-color: $nav-background-color;
			opacity: 0;
		}
	}

	nav {
		.icon {
			width: 20px;
			height: 20px;
		}
		&:hover, &:focus {
			a {
				color: $secondary-font-color;

				.icon {
					&:after {
						opacity: 1;
					}
				}

				&:hover {
					color: $base-link-color-dark-background;

					.icon {
						&:after {
							opacity: 0;
						}
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
		a {
			&:focus {
				color: $base-link-color-dark-background;

				.icon {
					&:after {
						opacity: 0;
					}
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}

// 480 PX =============================================================================
@media only screen and (min-width: 480px) {
	header {
	}
}

// 800 PX =============================================================================
@media only screen and (min-width: 768px) {
	header {
	}
}

// 900 PX =============================================================================
@media only screen and (min-width: 900px) {
	header {
		height: 79px;
		margin-bottom: 27px;
		.inner nav.visible-desktop {
			display: inline-block;
		}
		.inner {
			padding: 13px 20px;
		}
		.logo-at {
			&:before {
				@include logo-at-desktop();
			}
		}
	}
}

// 1200 PX =============================================================================
@media only screen and (min-width: 1200px) {
	header {
		a {
			@include font-size(1.8);
		}
	}
}