@import "../variables";
@import "../../img/sprites/scss/sprite";

//MOVE TO MIXINS FILE
//Use this mixin instread of font-wight: bold;
@mixin bold() {
	font-weight: normal;
	font-family: $strong-font-family;
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

.sidenav {
	overflow: hidden;
	//TODO: Refactor into mixin
	-webkit-transition: height 135ms linear;
	-moz-transition: height 135ms linear;
	-o-transition: height 135ms linear;
	transition: height 135ms linear;
	background-color: $nav-background-color;
	border-top: 1px solid $base-devide;
	position: relative;
	a {
		text-decoration: none;
		color: white;
		&:hover, &:focus {
			outline: 0;
			color: $base-link-color-dark-background;
		}
		&.active {
			color: $base-link-color-dark-background;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	nav {

	}

	.level-0{
		li {
			padding: 0 11px;
			a {
				font-family: $header-font-family;
				@include font-size(1.8);
				padding: 10px 0 13px 0;
				border-bottom: 1px solid $base-devide;
				display: block;
			}
		}
	}

	.search {
		bottom: 0;
		position: absolute;
		z-index: 10;
		display: block;
		width: 100%;
		padding: 2px 0 17px 0;
		background: $seach-panel-background-color;
		border-top: 1px solid $base-devide;
		form {
			margin: 10px 11px 9px 11px;
			height: 35px;
			position: relative;
			input[type="text"] {
				width: 100%;
				height: auto;
				outline: 0;
				//font-family: basefont;
				padding: 0;
				margin: 0;
				line-height: normal;
				max-width: none;
				padding: 9px 8px;
				border-radius: 3px;
				box-sizing: border-box;
				color: $base-body-color;
				border: 0;
				background: $secondary-input-background;
				font-size: 12px;

				&:focus {
					color: $mirage;
					background: $main-input-background;
				}
			}
			input[type="submit"] {
				position: absolute;
				top: 0;
				right: 0;
				top:0;
				right:0;
				float:right;
				margin:0;
				height:33px;
				width:36px;
				background-color: transparent;
				border: none;
				outline: 0;
				//TODO: Bullshit
				&:before {
					@include icon-search-mobile-grey();
				}
				&:hover {
					&:before {
						@include icon-search-mobile-blue();
					}
				}
				&:focus {
					&:before {
						@include icon-search-mobile-blue();
					}
				}
			}
			::-webkit-input-placeholder {
				font-family: $placeholder-font-family;
				color: $secondary-placeholder-font-color;
				font-style:italic
			}

			:-moz-placeholder { /* Firefox 18- */
				font-family: $placeholder-font-family;
				color: $secondary-placeholder-font-color;
				font-style:italic
			}

			::-moz-placeholder {  /* Firefox 19+ */
				font-family: $placeholder-font-family;
				color: $secondary-placeholder-font-color;
				font-style:italic
			}

			:-ms-input-placeholder {
				font-family: $placeholder-font-family;
				color: $secondary-placeholder-font-color;
				font-style:italic
			}
		}
		a {
			padding: 0px 11px;
			@include font-size(1.2);
			font-family: $menu-sub-header-font-family;
		}
	}

	//HTML NOT SPECIFIC TO THIS PACKAGE
	nav {
		position: relative;
		-webkit-transition: left 135ms linear;
		-moz-transition: left 135ms linear;
		-o-transition: left 135ms linear;
		transition: left 135ms linear;
	}

	.level-0 {
		left: 0px;
	}

	.level-1 {
		left: -100%;
	}

	.level-2 {
		left: -200%;
	}

	.level-3 {
		left: -300%;
	}

	.level-3 {
		left: -400%;
	}

	.level-start {
		position: absolute;
		width: 100%;
		top: 0;
		left: 100%;
		> li {
			padding: 0 11px;
			> a {
				padding: 10px 0 6px 18px;
				display: block;
				@include font-size(1.2);
				font-family: $menu-sub-header-font-family;
				border-bottom: 1px solid $secondary-devide;
			}
		}
		> .level-back {
			a {
				padding: 11px 0;
			}
		}
		> .level-title {
			> a {
				padding: 10px 0 13px 0;
				@include font-size(1.8);
				font-family: $header-font-family;
				border: none;
			}
		}
	}
	.has-children {
		.level-start {
			display: none;
		}
		&.active {
			.level-start {
				display: block;
			}
		}
	}
}

// 480 PX =============================================================================
@media only screen and (min-width: 480px) {
	.sidenav {
	}
}

// 800 PX =============================================================================
@media only screen and (min-width: 768px) {
	.sidenav {
	}
}

// 900 PX =============================================================================
@media only screen and (min-width: 900px) {
	.sidenav {
		width: 220px;
		overflow: hidden;
		border: none;
		float: left;
		.search {
			position: relative;
			background: transparent;
		}
	}
}

// 1200 PX =============================================================================
@media only screen and (min-width: 1200px) {
	.sidenav {
	}
}