{#common}
@mixin {common} () {
    font-size: 10px;
}

@mixin {common}Before() {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("{svgPath}");
    background-repeat: no-repeat;
    background-size: {relWidth}em {relHeight}em;
}

@mixin no-svg-{common}() {
    background-image: url("{pngPath}");
}
{/common}
{#svg}

@mixin {name}() {
    background-position: {relPositionX}em {relPositionY}em;
    width: {relWidth}em;
    height: {relHeight}em;
}
{/svg}
