
@mixin icon () {
    font-size: 10px;
}

@mixin iconBefore() {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 14.3em 99.8em;
}

@mixin no-svg-icon() {
    background-image: url("../img/sprite.png");
}



@mixin icon-about-blue() {
    background-position: 0em 0em;
    width: 2em;
    height: 2em;
}


@mixin icon-about-grey() {
    background-position: 0em -2em;
    width: 2em;
    height: 2em;
}


@mixin icon-about-white() {
    background-position: 0em -4em;
    width: 2em;
    height: 2em;
}


@mixin icon-arrow-left-blue() {
    background-position: 0em -6em;
    width: 1.8em;
    height: 2.8em;
}


@mixin icon-arrow-left-white() {
    background-position: 0em -8.8em;
    width: 1.8em;
    height: 2.8em;
}


@mixin icon-arrow-right-blue() {
    background-position: 0em -11.6em;
    width: 1.8em;
    height: 2.8em;
}


@mixin icon-arrow-right-white() {
    background-position: 0em -14.4em;
    width: 1.8em;
    height: 2.8em;
}


@mixin icon-bike-blue() {
    background-position: 0em -17.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-bike-grey() {
    background-position: 0em -19.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-bike-white() {
    background-position: 0em -21.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-bus-blue() {
    background-position: 0em -23.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-bus-grey() {
    background-position: 0em -25.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-bus-white() {
    background-position: 0em -27.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-car-blue() {
    background-position: 0em -29.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-car-grey() {
    background-position: 0em -31.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-car-white() {
    background-position: 0em -33.2em;
    width: 2em;
    height: 2em;
}


@mixin icon-card-mobile() {
    background-position: 0em -35.2em;
    width: 2.1em;
    height: 1.3em;
}


@mixin icon-ferry-blue() {
    background-position: 0em -36.5em;
    width: 2em;
    height: 2em;
}


@mixin icon-ferry-grey() {
    background-position: 0em -38.5em;
    width: 2em;
    height: 2em;
}


@mixin icon-ferry-white() {
    background-position: 0em -40.5em;
    width: 2em;
    height: 2em;
}


@mixin icon-menu-white() {
    background-position: 0em -42.5em;
    width: 1.6em;
    height: 1.3em;
}


@mixin icon-park-blue() {
    background-position: 0em -43.8em;
    width: 2em;
    height: 2em;
}


@mixin icon-park-grey() {
    background-position: 0em -45.8em;
    width: 2em;
    height: 2em;
}


@mixin icon-park-white() {
    background-position: 0em -47.8em;
    width: 2em;
    height: 2em;
}


@mixin icon-search-mobile-blue() {
    background-position: 0em -49.8em;
    width: 2.5004em;
    height: 2.5001em;
}


@mixin icon-search-mobile-grey() {
    background-position: 0em -52.4em;
    width: 2.5004em;
    height: 2.5001em;
}


@mixin icon-tools-blue() {
    background-position: 0em -55em;
    width: 2em;
    height: 2em;
}


@mixin icon-tools-grey() {
    background-position: 0em -57em;
    width: 2em;
    height: 2em;
}


@mixin icon-tools-white() {
    background-position: 0em -59em;
    width: 2em;
    height: 2em;
}


@mixin icon-train-blue() {
    background-position: 0em -61em;
    width: 2em;
    height: 2em;
}


@mixin icon-train-grey() {
    background-position: 0em -63em;
    width: 2em;
    height: 2em;
}


@mixin icon-train-white() {
    background-position: 0em -65em;
    width: 2em;
    height: 2em;
}


@mixin icon-walk-blue() {
    background-position: 0em -67em;
    width: 2em;
    height: 2em;
}


@mixin icon-walk-grey() {
    background-position: 0em -69em;
    width: 2em;
    height: 2em;
}


@mixin icon-walk-white() {
    background-position: 0em -71em;
    width: 2em;
    height: 2em;
}


@mixin logo-at-desktop() {
    background-position: 0em -73em;
    width: 5.4em;
    height: 5.4em;
}


@mixin logo-at-mobile() {
    background-position: 0em -78.4em;
    width: 3em;
    height: 3em;
}


@mixin logo-auckland-transport-blue() {
    background-position: 0em -81.4em;
    width: 12.5em;
    height: 4em;
}


@mixin logo-auckland-transport-white() {
    background-position: 0em -85.4em;
    width: 12.5em;
    height: 4em;
}


@mixin logo-newzealand-blue() {
    background-position: 0em -89.4em;
    width: 14.3em;
    height: 2em;
}


@mixin logo-newzealand-white() {
    background-position: 0em -91.4em;
    width: 14.3em;
    height: 2em;
}


@mixin logo-twitter-blue() {
    background-position: 0em -93.4em;
    width: 2em;
    height: 1.6em;
}


@mixin logo-twitter-white() {
    background-position: 0em -95em;
    width: 2em;
    height: 1.6em;
}


@mixin logo-youtube-red() {
    background-position: 0em -96.6em;
    width: 2.3em;
    height: 1.6em;
}


@mixin logo-youtube-white() {
    background-position: 0em -98.2em;
    width: 2.3em;
    height: 1.6em;
}

