<html>
	<head>
		<!-- normalize.css should be included in any project that uses this package -->
		<link rel="stylesheet" type="text/css" href="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="wrapper">
		<header class="header-and-footer">
		<!-- inject:header:html -->
			<!-- contents of html partials will be injected here -->
		<!-- endinject -->
	</header>
		<div class="container" >
			<div class="side-nav-background visible-desktop"></div>
			<aside class="sidenav header-and-footer">
				<div class="search">
					<form action="/search" novalidate="novalidate">
						<input type="text" name="search" placeholder="Search">
						<input class="icon" type="submit" value="">
					</form>
					<a href="/about-us/contact-us/" class="hidden-desktop">Contact us</a>
				</div>
				<nav>
				<!-- inject:sidenav:html -->
					<!-- contents of html partials will be injected here -->
				<!-- endinject -->

				<ul class="level-1 level-start" data-level="level-1">
				<!-- MOBILE MENU SPECIFIC -->
				<li class="hidden-desktop level-back">
					<a href="#">
						<span class="arrow"></span>
						<span class="text">Back</span>
					</a>
				</li>
				<li class="hidden-desktop level-title">
					<a href="/myat/" class="">
						<span class="text">MyAT</span>
					</a>
				</li>
				<!-- MOBILE MENU SPECIFIC END-->
				<li>
					<a ui-sref="myat" ui-sref-active="active" ng-click="activeParent($event)" href="#!/myat" class="active">My AT</a>
				</li>

				<li>
					<a ui-sref="myaccount" ui-sref-active="active" ng-click="activeParent($event)" href="#!/myaccount">Account details</a>
				</li>


				<!--
					Singular cards with no linked account gets a "My AT HOP card"
					page.  Multiple cards OR linked accounts gets a "My AT HOP
					cards" page.
				-->

				<!--li ng-show="account.hopUser && account.cards.length === 1"-->
				<li ng-show="account.hopUser &amp;&amp; account.cards.length > 0" class="">
					<a ui-sref="hopcard({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)" href="#!/hopcard/1">My AT HOP card</a>

					<!-- Display level 2 navigation -->
					<ul ng-show="true" class="level-2 level-start" data-level="level-2">

						<!-- MOBILE MENU SPECIFIC -->
						<li class="hidden-desktop level-back">
							<a href="#" class="">
								<span class="arrow"></span>
								<span class="text">MyAT</span>
							</a>
						</li>
						<li class="hidden-desktop level-title">
							<a href="/myat/" class="">
								<span ui-sref="hopcard({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)">My AT HOP card</span>
							</a>
						</li>
						<!-- MOBILE MENU SPECIFIC END-->


						<li ng-show="account.cards[0].passes.length > 0" class="">
							<a ui-sref="renewpass({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)" href="#!/renewpass/1">Renew monthly pass</a>
						</li>
						<li>
							<a ui-sref="topup({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)" href="#!/topup/1">Top up</a>
						</li>
						<li>
							<a ui-sref="autotopup({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)">Automatic top up</a>
						</li>
						<li ng-show="account.cards[0].passes.length === 0" class="ng-hide">
							<a ui-sref="buypass({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)" href="#!/buypass/1">Buy a monthly pass</a>
						</li>
						<li>
							<a ui-sref="reportcard({ cardId: account.cards[0].id })" ui-sref-active="active" ng-click="activeParent($event)">Report this card lost</a>
						</li>
					</ul>
				</li>

				<li ng-show="account.hopUser &amp;&amp; account.cards.length > 1" class="">
					<a ui-sref="myhopcards" ui-sref-active="active" ng-click="activeParent($event)" href="#!/myhopcards">My AT HOP cards</a>

					<!-- List the card names-->
					<ul class="level-2 level-start" data-level="level-2">
						<!-- MOBILE MENU SPECIFIC -->
						<li class="hidden-desktop level-back">
							<a href="#" class="">
								<span class="arrow"></span>
								<span class="text">MyAT</span>
							</a>
						</li>
						<li class="hidden-desktop level-title">
							<a href="#">
								<span ui-sref="myhopcards" ui-sref-active="active" ng-click="activeParent($event)">My AT HOP cards</span>
							</a>
						</li>
						<!-- MOBILE MENU SPECIFIC END-->


						<!-- ngRepeat: card in account.cards --><li ng-repeat="card in account.cards" class="ng-scope">
							<a ui-sref="hopcard({ cardId: card.id })" ui-sref-active="active" ng-click="activeParent($event)" class="ng-binding" href="#!/hopcard/1">Mike's card</a>

							<!-- Display level 2 navigation -->
							<ul ng-show="true" class="level-3 level-start" data-level="level-3">

								<!-- MOBILE MENU SPECIFIC -->
								<li class="hidden-desktop level-back">
									<a ui-sref="myhopcards" ui-sref-active="active" ng-click="activeParent($event)" href="#!/myhopcards">
										<span class="arrow"></span>
										<span class="text">My AT HOP cards</span>
									</a>
								</li>
								<li class="hidden-desktop level-title">
									<a href="#">
										<span ui-sref="hopcard({ cardId: card.id })" ui-sref-active="active" ng-click="activeParent($event)" class="ng-binding">Mike's card</span>
									</a>
								</li>
								<!-- MOBILE MENU SPECIFIC END-->

								<li ng-show="card.passes.length > 0" ui-sref-active="active" class="">
									<a ui-sref="renewpass({ cardId: card.id })" ng-click="activeParent($event)" href="#!/renewpass/1">Renew monthly pass</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="topup({ cardId: card.id })" ng-click="activeParent($event)" href="#!/topup/1">Top up</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="autotopup({ cardId: card.id })" ng-click="activeParent($event)">Automatic top up</a>
								</li>
								<li ng-show="card.passes.length === 0" ui-sref-active="active" class="ng-hide">
									<a ui-sref="buypass({ cardId: card.id })" ng-click="activeParent($event)" href="#!/buypass/1">Buy a monthly pass</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="reportcard({ cardId: card.id })" ng-click="activeParent($event)">Report this card lost</a>
								</li>
							</ul>
						</li><!-- end ngRepeat: card in account.cards --><li ng-repeat="card in account.cards" class="ng-scope">
							<a ui-sref="hopcard({ cardId: card.id })" ui-sref-active="active" ng-click="activeParent($event)" class="ng-binding" href="#!/hopcard/2">Work card's card</a>

							<!-- Display level 2 navigation -->
							<ul ng-show="true" class="level-3 level-start" data-level="level-3">

								<!-- MOBILE MENU SPECIFIC -->
								<li class="hidden-desktop level-back">
									<a ui-sref="myhopcards" ui-sref-active="active" ng-click="activeParent($event)" href="#!/myhopcards">
										<span class="arrow"></span>
										<span class="text">My AT HOP cards</span>
									</a>
								</li>
								<li class="hidden-desktop level-title">
									<a href="#">
										<span ui-sref="hopcard({ cardId: card.id })" ui-sref-active="active" ng-click="activeParent($event)" class="ng-binding">Work card's card</span>
									</a>
								</li>
								<!-- MOBILE MENU SPECIFIC END-->

								<li ng-show="card.passes.length > 0" ui-sref-active="active" class="ng-hide">
									<a ui-sref="renewpass({ cardId: card.id })" ng-click="activeParent($event)" href="#!/renewpass/2">Renew monthly pass</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="topup({ cardId: card.id })" ng-click="activeParent($event)" href="#!/topup/2">Top up</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="autotopup({ cardId: card.id })" ng-click="activeParent($event)">Automatic top up</a>
								</li>
								<li ng-show="card.passes.length === 0" ui-sref-active="active" class="">
									<a ui-sref="buypass({ cardId: card.id })" ng-click="activeParent($event)" href="#!/buypass/2">Buy a monthly pass</a>
								</li>
								<li ui-sref-active="active">
									<a ui-sref="reportcard({ cardId: card.id })" ng-click="activeParent($event)">Report this card lost</a>
								</li>
							</ul>
						</li><!-- end ngRepeat: card in account.cards -->
					</ul>
				</li>




				<li>
					<a ui-sref="buycard" ui-sref-active="active" href="#!/buycard">Buy an AT HOP card</a>
				</li>
				<li>
					<a ui-sref="registercard" ui-sref-active="active" href="#!/registercard">Register an AT HOP card</a>
				</li>
				<li>
					<a ui-sref="myjourneysstops" ui-sref-active="active" href="#!/myjourneysstops">My journeys and stops</a>
				</li>
				<li>
					<a ui-sref="myparkingleases" ui-sref-active="active" href="#!/myparkingleases">My parking leases</a>
				</li>
				<li>
					<a ui-sref="myrequests" ui-sref-active="active" href="#!/myrequests">My requests</a>
				</li>
				<li>
					<a ui-sref="logout" ui-sref-active="active" href="#!/logout">Log out</a>
				</li>
			</ul>
	</nav>
			</aside>

			<div class="content">
				<div class="inner">
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
					<h1>Test Page</h1>
				</div>
			</div>
	</div>

		<!-- inject:footer:html -->
			<!-- contents of html partials will be injected here -->
		<!-- endinject -->
	</div>
	</body>
</html>