// Typography
///////////////////////////////////////////////////////////////////////////////
$avenir: "Avenir LT W01 95 Black";
$open-sans-regular: "OpenSansRegular";
$open-sans-bold: "OpenSansBold";
$open-sans-semibold: "OpenSansSemibold";

//$serif: $georgia;

$base-font-family: $open-sans-regular;
$header-font-family: $avenir;
$sub-header-font-family: $open-sans-bold;
$strong-font-family: $open-sans-bold;
$button-font-family: $open-sans-bold;
$menu-sub-header-font-family: $open-sans-semibold;

$input-font-family: $open-sans-bold;
$label-font-family: $open-sans-bold;
$placeholder-font-family: $open-sans-semibold;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 4px;

$button-font-size: 1em;

// Colors
// http://chir.ag/projects/name-that-color
///////////////////////////////////////////////////////////////////////////////
$mirage: #17232F; // really dark blue
$pickled-bluewood: #283D51; // dark blue
$whisper: #F7F5FA; // super light grey
$white: #ffffff;
$lima: #93bd1b; // lime green
$verdun-green: #586D00; // dark green
$ivory: #FEFFFA; // off white
$azure-radiance: #019BFF; // mid blue
$endeavour: #0067AC; // dark blue
$polar: #E5F2FA; // light blue
$shuttle-gray: #60656A; // dark grey
$porcelain: #E7E8EA; // light grey
$grenadier: #D03504; // red
$provincial-pink: #FCE9E5; // very light red
$vesuvius: #B64C06; // brown
$Linen: #F9ECE4; // very light brown
$sun: #fab418; // yellow
$orange-white: #FEF9EA; // very light brown
$silver-sand: #c5c9cd; //  light grey
$limed-spruce: #39444f; // blue grey
$ebony-clay: #232d3a;
$rhino: #273d52;
$Manatee: #979DA3;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: $white;

// Nav Color
$nav-background-color: $mirage;
$seach-panel-background-color: $rhino;

// Panel Background
$panel-background-color: $whisper;

// Font Colors
$base-font-color: $pickled-bluewood;
$secondary-font-color: $shuttle-gray;

$base-accent-color: $endeavour;
$base-accent-opposite-color: $verdun-green;

// Highlight Colors
$hightlights-color-dark-background: $verdun-green;
$hightlights-color-light-background: $lima;

// Button Colors
$button-color-dark-background: $azure-radiance;
$button-hover-color-dark-background: $verdun-green;

$button-color-light-background: $endeavour;
$button-hover-color-light-background: $lima;

$button-background-color: $ivory;

// Forms
$main-input-background: $white;
$secondary-input-background: $ebony-clay;
$secondary-placeholder-font-color: $Manatee;

//  Text Link Colors
$base-link-color-dark-background: $azure-radiance;
$base-link-color-light-background: $endeavour;

// Border color
$base-border-color: $silver-sand;
$base-border-focus-color: $shuttle-gray;
$base-underline: $porcelain;
$base-devide: $limed-spruce;
$secondary-devide: $ebony-clay;

// Alert Colors
$emergency-text-color: $grenadier;
$emergency-background-color: $provincial-pink;
$service-alert-text-color: $vesuvius;
$service-alert-background-color: $Linen;
$service-alert-text-color: $sun;
$service-alert-background-color: $orange-white;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
