@import "variables";
@import "typography";
@import "layout/common";
@import "layout/header";
@import "layout/footer";
@import "layout/sidenav";

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 1200px;
}

.container {
	overflow: hidden;
	position: relative;
}

.side-nav-background {
	width: 220px;
	height: 100%;
	background-color: $nav-background-color;
	position: absolute;
	top:0;
	left: 0;
}

.content {
	overflow: hidden;
	.inner {
		padding: 20px;
	}
}